<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li><a href="https://ekodus.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
              <!-- <li>
                <h3>Ekodus Inc.</h3>
                <p>2525 Route 130 South,</p>
                <p>Building C, Suite 1,</p>
                <p>Cranbury, Nj 08512</p>

              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li>
                <a href="https://ekodus.com/about/" target="_blank">About Us</a>
              </li>
              <!-- <li>
                <h3> Ekodus Technologies Pvt Ltd </h3>
                <p>Aashi Grande 1(A), 1(C) & 1(D),</p>
                <p> Near Ganesh Mandir, Kahilipara Road,</p>
                <p> Ganeshguri, Guwahati - 781006,</p>
                <p> Assam, India</p>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li>
                <a href="https://ekodus.com/join-our-team/" target="_blank">Join Our Team</a></li>
              <!-- <li>
                <h3>Ekodus Technologies Pvt Ltd</h3>
                <p>Suite 6, 2nd Floor,</p>
                <p>D-77, Sector 63 Noida,</p>
                <p>UP-201301, India</p>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li><a href="https://www.facebook.com/Kodu-Live-105280054645172/" target="_blank" class="icoFacebook"
                title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li>
              <a href="https://www.linkedin.com/company/67997047/" target="_blank" class="icoLinkedin" title="Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy; Copyright 2020 - KoduLive. All rights reserved.</p>
        </div>
      </div>


    </div>
  </div>
</footer>
