<div class="jumbotron jumbotron-fluid bg-white m-0">
  <div class="col-12 os-animation" data-animation="animate__animated animate__fadeInUp">
    <h3 class="heading" id='contact'>Contact</h3>
    <div class="heading-underline"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-sm-12 py-0">
        <div class="jumbotron jumbotron-fluid bg-white h-100">
          <h1>Contact Us </h1>
          <p>Have a question ? Send your query here.</p>
          <img class="img-responsive contact-img" src='assets/images/contact.svg' />
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 p-0">
        <div class="row jumbotron jumbotron-fluid bg-white h-100">
          <form class="contact-form" [formGroup]="contactForm" #formDirective="ngForm"
            (ngSubmit)="onSubmit(formDirective)">
            <div class="col-lg form-group">
              <mat-form-field appearance="outline" hintLabel="Max 30 characters" class='w-100'>
                <mat-label>Name</mat-label>
                <input type="text" formControlName="name" matInput maxlength="30" />
                <button type="button" mat-icon-button matSuffix>
                  <mat-icon>{{ "person" }}</mat-icon>
                </button>
                <mat-hint align="end">{{controls?.name?.value?.length}} / 30</mat-hint>

                <mat-error *ngIf="controls.name.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg form-group">
              <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Email</mat-label>
                <input type="email" formControlName="email" matInput />
                <button type="button" mat-icon-button matSuffix>
                  <mat-icon>{{ "mail" }}</mat-icon>
                </button>
                <mat-hint align="end">We respond you on this email id.</mat-hint>
                <mat-error *ngIf="controls.name.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="controls.email.hasError('pattern')">
                  Please enter <strong>valid email.</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg form-group">
              <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message" placeholder="Add message here" rows='15'></textarea>
                <button type="button" mat-icon-button matSuffix>
                  <mat-icon>{{ "mail" }}</mat-icon>
                </button>
                <mat-error *ngIf="controls.message.hasError('required')">
                  Message is <strong>required</strong>
                </mat-error>
                <mat-hint align="end">Type your query here.</mat-hint>
              </mat-form-field>
            </div>

            <div class="col-lg form-group">
              <div class='action-container'>
                <button type="submit" [disabled]='loading' mat-flat-button color="primary">Send Message</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="jumbotron d-flex email bg-white">
          <div class="col-sm-12 col-lg-6">
            <img class="img-responsive email-img my-2" src='assets/images/email.svg' />
          </div>
          <div class="col-sm-12 col-lg-6 d-flex flex-column justify-content-center">
            <h1 class='lead'>Download Kodulive mobile app</h1>
            <p class='app-links'><img class='app-link' height='100' width='200' src='assets/logo/apple_store.png' />
              <img class='app-link' height='230' width='200' src='assets/logo/play_store.png' />
            </p>
            <p class='lead'>You can send your queries to</p>
            <h1 class='email-text'>info@ekodus.com</h1>

          </div>
        </div>
      </div>
    </div>
  </div>
