:host {
  width: 100%;
}

.email-img {
  height: 100%;
  width: 80%;
}

.email-text {
  font-size: 22px;
}

.contact-img {
  height: 65vh;
  width: 100%;
  border-radius: 60% 26% 40% 20% / 70% 50% 30% 25%;
  background: var(--yellow);
}

.app-links {
  height: 150px;
  overflow: hidden;
  position: relative;
  top: -72px;

  .app-link {
    cursor: pointer;
  }
}

.contact-form {
  width: 75%;
  color: #000;
  justify-content: center;
  height: 100%;
  margin: auto;
}
