@import './theme.scss';

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content
    }

    ; //600px
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content
    }

    ; //900px
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content
    }

    ; //1200px
  }

  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content
    }

    ; //1800
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.7;
  margin: 0;
  height: 100vh;
  text-rendering: optimizelegibility;
  box-sizing: border-box;
  padding: 1rem;


  a {
    text-decoration: none;
    color: $dark-text;
  }

  .wrapper {
    transform-origin: center bottom 0px;
    transition: all 0.5s ease 0s;
    background: $light-background;
  }

  .wrapper.compact {
    transform: translateY(-60px) scale(0.9);
    cursor: pointer;
    box-shadow: 0px 12px 34px rgba(0, 0, 0, 0.5);
  }

  @include respond(tab-port) {
    padding: 0;
  }
}

h3.heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #ef3712;
  margin: 0 auto 2rem;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.mat-progress-bar.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

[role="button"] {
  cursor: pointer;
}
