  <h1>
    Cancel Meeting
  </h1>
  <mat-icon class='close' (click)='onCancel()'>{{ "cancel" }}</mat-icon>
  <p class="subject lead">{{subject}}</p>
  <p>{{message}}</p>
  <div class="col-lg form-group">
    <div class='action-container'>
      <button type="reset" mat-flat-button color="accent" (click)="onCancel()">Cancel</button>
      <button type="submit" mat-flat-button color="primary" (click)="onSubmit()" [disabled]='loading'>Yes</button>
    </div>
  </div>
