.sign-in-img {
  height: 65vh;
  width: 100%;
  border-radius: 57% 78% 34% 20% / 70% 46% 66% 71%;
  background: #ffc107;
}

.sign-in-form {
  max-width: 25em;
  color: #000;
  justify-content: center;
  height: 100%;
  margin: auto;

  .auth-title {
    color: #f4511e;
    font-weight: 500;
  }

  .auth_link {
    text-decoration: none;
    color: #2d3d43;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
  }

  .right {
    float: right;
  }

  mat-form-field,
  button {
    width: 100%;
    border-radius: 0;
  }
}

.social {
  margin-top: 20px;

  i.google {
    font-size: 26px;
    color: #d50a1d;
  }

  i.facebook {
    font-size: 26px;
    color: #3b5998;
  }

  i.twitter {
    font-size: 26px;
    color: #1da1f2;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 5px;
      font-size: 14px;
      font-weight: 500;
      color: #014c97;
      letter-spacing: 1px;
      text-transform: capitalize;
      vertical-align: text-top;
    }
  }
}
