.meeting-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;

  .meeting-table-container {
    height: 100%;
    overflow: auto;
  }

  .header {
    display: flex;
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;

    h1 {
      margin: 0;
      margin-right: auto;
    }

    button {
      margin: 0 5px;
    }
  }
}

.meeting-table {
  width: 100%;
}

:host {
  height: 100%;
  width: 100%;

  .heading {
    padding: 1em;
  }
}

tr.detail-row {
  height: 0;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.guest-list-wrapper {
  margin-left: auto;
}

.guest-list {
  max-height: 200px;
  overflow: auto;
}

.element-row td {
  border-bottom-width: 0;
}

.char-avatar {
  text-transform: capitalize;
}

.update-container {
  position: relative;
}

.link {
  cursor: pointer;
}
