<div class='meeting-details'>
  <div class='header'>
    <h1>
      Meetings
    </h1>
    <button type="button" mat-flat-button color="primary" (click)='joinMeetingAsParticipant()'>Join Meeting</button>
    <button type="button" mat-flat-button color="primary" (click)='startMeeting()'>Start Meeting</button>
  </div>

  <div class="jumbotron jumbotron-fluid" *ngIf='!dataSource?.data?.length'>
    <div class="container">
      <p class="lead">No meeting scheduled. Click on start meeting to organize.</p>
    </div>
  </div>
  <div class="meeting-table-container">
    <table mat-table [dataSource]="dataSource" matSort class="meeting-table" multiTemplateDataRows>

      <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="element == expandedMeeting ? 'expanded' : 'collapsed'">
            <div class="bg-light w-100 d-flex update-container">
              <mat-progress-bar mode="indeterminate" class='progress-bar' *ngIf="loading"></mat-progress-bar>
              <div class="col-lg-8 my-2">
                <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
                  <mat-form-field appearance="fill" class='w-100 my-2'>
                    <mat-label>Meeting Title</mat-label>
                    <input type="text" formControlName="title" matInput />
                    <mat-error *ngIf="meetingForm.controls.title.hasError('required')">
                      Meeting Title is <strong>required</strong>
                    </mat-error>
                    <button type="button" mat-icon-button matSuffix>
                      <mat-icon>{{ "close" }}</mat-icon>
                    </button>
                  </mat-form-field>
                  <button type="submit" mat-flat-button color="primary" [disabled]='loading'>Update</button>
                  <button type="button" class="mx-2" mat-flat-button color="primary"
                    (click)="copyInvitation(element)">Copy Invitation</button>
                  <img class="link mx-3" src="assets/images/outlook.png" alt='' width="35" height="28"
                    (click)="openOutlook(element)" />
                  <img class="link" src="assets/images/gmail.png" alt='' width="35" height="28"
                    (click)="openGmail(element)" />
                </form>

              </div>
              <div class="col-lg-4 guest-list-wrapper">
                <mat-list dense class="guest-list">
                  <mat-list-item>
                    <div [ngStyle]="{'backgroundColor': '#ddd','color': '#333'}" matListAvatar
                      class="char-avatar d-flex justify-content-center align-items-center">
                      {{displayName | slice: 0:1}}
                    </div>
                    <div matLine> {{ displayName }} </div>
                    <div matLine> Organizer ( {{profile?.email}} ) </div>

                  </mat-list-item>
                  <mat-list-item *ngFor="let guest of element.guestEmailsString?.split(',')">
                    <div [ngStyle]="{'backgroundColor': '#ddd','color': '#333'}" matListAvatar
                      class="char-avatar d-flex justify-content-center align-items-center">
                      {{guest | slice: 0:1}}
                    </div>
                    <h3 matLine> {{guest}} </h3>
                    <!-- <mat-icon (click)='removeGuest(guest.email)'>{{"close"}}</mat-icon> -->
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element" class='font-weight-bold'> {{element.title}} </td>
      </ng-container>

      <!-- Meeting Code Column -->
      <ng-container matColumnDef="meetingCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Meeting Code </th>
        <td mat-cell *matCellDef="let element"> {{element.meetingCode}} </td>
      </ng-container>

      <!-- Meeting Date Column -->
      <ng-container matColumnDef="meetingDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Meeting Date </th>
        <td mat-cell *matCellDef="let element"> {{element.meetingDate | date:'mediumDate' }} </td>
      </ng-container>

      <!-- Meeting Start Column -->
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
        <td mat-cell *matCellDef="let element"> {{element.startTime | date:'shortTime' }} </td>
      </ng-container>

      <!-- Meeting End Column -->
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
        <td mat-cell *matCellDef="let element"> {{element.endTime | date:'shortTime' }} </td>
      </ng-container>

      <!-- Guest Column -->
      <ng-container matColumnDef="guests">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon class='mx-1'>{{ "group" }}</mat-icon> Guests
        </th>
        <td mat-cell *matCellDef="let element">
          <div class='d-flex align-items-center'>
            <span class='font-weight-bold mx-1'>{{element.guestEmailsString?.split(',').length }}</span>
            <span *ngIf="element.guestEmailsString?.split(',').length === 1"> guest</span>
            <span *ngIf="element.guestEmailsString?.split(',').length > 1"> guests</span>
          </div>


        </td>
      </ng-container>

      <!-- Join Column -->
      <ng-container matColumnDef="join">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Join </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon role="button" (click)='joinMeeting(row)' matTooltip="Join Meeting" [matTooltipPosition]="'left'">
            {{ "videocam" }}</mat-icon>
          <mat-icon role="button" (click)='deleteMeeting(row)' class='mx-3' matTooltip="Cancel Meeting"
            [matTooltipPosition]="'left'">
            {{ "close" }}</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row class='element-row' *matRowDef="let row; columns: displayedColumns;"
        [class.expanded-row]="expandedMeeting === row"
        (click)="expandedMeeting = expandedMeeting === row ? null : row;setTitle(row)">
      </tr>

      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10,20,30,40,50,60,70,80,90,100]" [length]="totalMeetings" [pageSize]="10"
    showFirstLastButtons>
  </mat-paginator>

</div>
