<mat-progress-bar mode="indeterminate" class='progress-bar' *ngIf="loading"></mat-progress-bar>

<div class="dialog-header">
    <h2>Change Password</h2>
    <mat-icon class='close' (click)='onCancel()'>{{ "cancel" }}</mat-icon>
</div>

<form class="personal-info-form" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
    <div class="col-lg form-group">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput [readonly]="true" />
            <mat-error *ngIf="controls.email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="controls.email.hasError('pattern')">
                Please enter <strong>valid email.</strong>
            </mat-error>
            <button type="button" mat-icon-button matSuffix>
                <mat-icon>{{ "mail" }}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="col-lg form-group">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
            <mat-error *ngIf="controls.password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="col-lg form-group">
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" />
            <mat-error *ngIf="controls.confirmPassword.hasError('required')">
                Confirm Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="controls.confirmPassword.hasError('confirmPasswordValidator')">
                Passsword and Confirm Password<strong> didn't match. </strong>
            </mat-error>
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="col-lg form-group">
        <div class='action-container'>
            <button type="reset" mat-flat-button color="accent" (click)="onCancel()">Cancel</button>
            <button type="submit" mat-flat-button color="primary">Change Password</button>
        </div>
    </div>

</form>