:host {
    display: block;
    width: 100%;
    height: 100%;
    position:relative;
  }
  
  .action-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .progress-bar{
    margin-bottom: 1em; 
  }
  .close{
    position:absolute;
    top:5px;
    right:10px;
    cursor: pointer;
  }
  .mat-form-field {
    display: block !important;
  }
  