:host {
  width: 100%;
}

.pricing-column {
  background-color: white;
  height: 100%;
  padding: 1.6rem;
  border-top: .25rem solid #1EBBA3;
  box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
  transition: transform .7s ease;
  position: relative;
  overflow: hidden;
}

h3.heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #ef3712;
  margin: 0 auto 2rem;
}

.pricing-column:hover {
  transform: scale(1.1);
}

.pricing-column h4 {
  font-size: 1.1rem;
  font-weight: 700;
}

.ribbon {
  background-color: var(--success);
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  height: 2rem;
  width: 8rem;
  padding-top: 0.4rem;
  position: absolute;
  transform: rotate(40deg);
  right: -2rem;
  top: 0.3rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  z-index: 1;
}

.card {
  border: 2px solid #232f34;
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 415px;
  margin-bottom: 35px;
  max-width: 100%;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #f4511e;
  color: #fff;
}

.pro-plan {
  .flip-box-front {
    background: #ffc107;
    color: #333;
  }

  .flip-box-back {
    background: #f4511e;
    color: #fff;
  }
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffc107;

  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;

  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.price-text {
  font-size: 16PX;
  background: #28a745;
  color: white;
  border-radius: 2px;
  padding: 5px;
}
