<div class="jumbotron m-0 bg-white w-100">

  <div class="col-12 os-animation" data-animation="animate__animated animate__fadeInUp">
    <h3 class="heading" id='pricing'>Pricing</h3>
    <div class="heading-underline"></div>
  </div>

  <div class="container">
    <div class="row text-center px-lg-4 px-xl-5">

      <div class="col-sm-6 col-md-4 os-animation" data-animation="animate__animated animate__fadeInLeft">
        <div class="box-item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="inner color-white">
                <h5 class="flip-box-header">Basic</h5>
                <h3 class="flip-box-header price-text">Free</h3>
                <p class="lead">Have a small team.</p>
                <p class="lead"> Try Basic plan.</p>
                <p class="lead">You can upgrade anytime</p>
                <button mat-fab color="accent">
                  <mat-icon>{{'keyboard_arrow_right'}}</mat-icon>
                </button>

              </div>
            </div>
            <div class="flip-box-back text-center">
              <div class="inner color-white">
                <h3 class="flip-box-header">Basic</h3>
                <p class="lead">5 User Allowed</p>
                <hr class="my-2">
                <p class="lead">Unlimited One to One meeting</p>
                <hr class="my-2">
                <p class="lead">Ticket Support</p>
                <hr class="my-2">
                <button type="button" mat-flat-button color="accent">Sign Up</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 os-animation" data-animation="animate__animated animate__fadeInLeft">

        <div class="box-item pro-plan">
          <div class="ribbon">Recommended</div>
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="inner color-white">
                <h3 class="flip-box-header">Pro</h3>
                <h3 class="flip-box-header price-text">USD 7.97 per/month</h3>
                <h3 class="flip-box-header price-text">USD 90 per/year</h3>
                <p class="lead">Connect with unlimited members</p>
                <p class="lead"> Buy Pro plan.</p>
                <p class="lead">You can upgrade anytime</p>
                <button mat-fab color="accent">
                  <mat-icon>{{'keyboard_arrow_right'}}</mat-icon>
                </button>

              </div>
            </div>
            <div class="flip-box-back text-center">
              <div class="inner color-white">
                <h3 class="flip-box-header">Pro</h3>
                <p class="lead">10 User Allowed.</p>
                <hr class="my-2">
                <p class="lead">Unlimited meetings.</p>
                <hr class="my-2">
                <p class="lead">Social Media Streaming.</p>
                <!-- <hr class="my-2">
                <p class="lead">Dedicated cloud recording.</p> -->
                <hr class="my-2">
                <p class="lead">Ticket Support</p>
                <hr class="my-2">
                <button type="button" mat-flat-button color="accent" routerLink="/subscription/buy">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 os-animation" data-animation="animate__animated animate__fadeInLeft">

        <div class="box-item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="inner color-white">
                <h3 class="flip-box-header">Premium</h3>
                <p class="lead">Upgrade to prerminum</p>
                <p class="lead">Get unlimited calls</p>
                <p class="lead"></p>
                <button mat-fab color="accent">
                  <mat-icon>{{'keyboard_arrow_right'}}</mat-icon>
                </button>

              </div>
            </div>
            <div class="flip-box-back text-center">
              <div class="inner color-white">
                <h3 class="flip-box-header">Premium</h3>
                <p class="lead">200 User Allowed</p>
                <hr class="my-2">
                <p class="lead">Unlimited meetings</p>
                <hr class="my-2">
                <p class="lead">Company Branding</p>
                <hr class="my-2">
                <p class="lead">Unlimited Cloud Storage</p>
                <hr class="my-2">
                <p class="lead">Dedicated Relationship Manager</p>
                <hr class="my-2">
                <button type="button" mat-flat-button color="accent">Contact Us</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- End Row -->
  </div>

</div>
