  <mat-progress-bar mode="indeterminate" class='progress-bar' *ngIf="loading"></mat-progress-bar>
  <h1>
    Start Meeting
  </h1>
  <mat-icon class='close' (click)='onCancel()'>{{ "cancel" }}</mat-icon>
  <form class="start-meet-form" [formGroup]="startMeetForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field class='w-100' appearance="outline" hintLabel="Enter the meeting title">
          <mat-label>Meeting Title</mat-label>
          <input type="text" formControlName="title" matInput />
          <button type="button" mat-icon-button matSuffix>
            <mat-icon>{{ "videocam" }}</mat-icon>
          </button>
          <mat-hint align="end"></mat-hint>

          <mat-error *ngIf="controls.title.hasError('required')">
            Meeting Title <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-sm-12 my-3 d-flex align-items-center justify-content-center">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Meeting Date</mat-label>
          <input matInput [matDatepicker]="date" formControlName="meetingDate">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
          <mat-error *ngIf="controls.meetingDate.hasError('required')">
            Meeting Date <strong> is required </strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-sm-12 d-flex flex-column align-items-center justify-content-center">
        <div class="d-flex">
          <ngx-mat-timepicker formControlName="startTime" [enableMeridian]='true'></ngx-mat-timepicker>
          <ngx-mat-timepicker formControlName="endTime" [enableMeridian]='true'></ngx-mat-timepicker>
        </div>
        <mat-error *ngIf="controls.endTime?.errors?.dateRangeValidator">
          end time should not be <strong> less than </strong> start time
        </mat-error>
      </div>
      <div class="col-sm-12 col-lg-12 my-3">
        <form [formGroup]="guestForm">
          <mat-form-field appearance="fill" class='w-100'>
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput />
            <mat-error *ngIf="guestForm.controls.email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="guestForm.controls.email.hasError('pattern')">
              Please enter <strong>valid email.</strong>
            </mat-error>
            <mat-hint align="end">Enter email to add invitee</mat-hint>
            <mat-error *ngIf="guestForm.controls.email.hasError('duplicateGuestValidator')">
              Guest <strong> Already Added </strong>
            </mat-error>
            <button type="button" mat-icon-button matSuffix (click)='addGuest()'>
              <mat-icon>{{ "add" }}</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
      <div class="col-sm-12 col-lg-12 guest-list">
        <div [ngStyle]="{'backgroundColor': '#fff'}" matListAvatar class="char-avatar d-flex  align-items-center">
          <mat-icon>{{"group"}}</mat-icon>
          <span class="mx-3">{{guests?.length || 0}} Guests</span>
        </div>

        <mat-list>
          <mat-list-item>
            <div [ngStyle]="{'backgroundColor': '#ddd','color': '#333'}" matListAvatar
              class="char-avatar d-flex justify-content-center align-items-center">
              {{displayName | slice: 0:1}}
            </div>
            <div matLine> {{ displayName }} </div>
            <div matLine> Organizer ( {{profile?.email}} ) </div>

          </mat-list-item>
          <mat-list-item *ngFor="let guest of guests">
            <div [ngStyle]="{'backgroundColor': '#ddd','color': '#333'}" matListAvatar
              class="char-avatar d-flex justify-content-center align-items-center">
              {{guest.email | slice: 0:1}}
            </div>
            <h3 matLine> {{guest.email}} </h3>
            <mat-icon (click)='removeGuest(guest.email)'>{{"close"}}</mat-icon>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-sm-12 col-lg-12">
        <div class='action-container'>
          <button type="reset" mat-flat-button color="accent" (click)="onCancel()">Cancel</button>
          <button type="submit" *ngIf="!isEditMode" mat-flat-button color="primary" [disabled]='loading'>Start</button>
          <button type="button" *ngIf="isEditMode" (click)='update()' mat-flat-button color="primary"
            [disabled]='loading'>Update</button>
          <button type="button" *ngIf="!isEditMode" (click)='schedule()' mat-flat-button color="primary"
            [disabled]='loading'>Schedule</button>
        </div>
      </div>
    </div>
  </form>
