<div class="container">
  <div class="row">
    <div class="col-lg-3 side-bar">
      <div class="logo-wrapper" [routerLink]="['/']" fragment="home">
        <img src="assets/logo/KODU_update-logo_180x98.png" height="60" weight="60" alt='' />
      </div>
      <mat-selection-list>
        <mat-list-option>
          <mat-icon matListIcon>videocam</mat-icon>
          Meeting
        </mat-list-option>
        <mat-list-option>
          <mat-icon matListIcon>lock</mat-icon>
          Account
        </mat-list-option>
        <mat-list-option>
          <mat-icon matListIcon>construction</mat-icon>
          Troubleshooting
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="col-lg-9 content">
      <div class="d-flex flex-column align-items-center justify-content-center faq-page-banner">
        <img src="assets/images/active_support.svg" height="200" width="200" />
        <h1>How can we help you?</h1>
      </div>

      <div class="jumbotron jumbotron-fluid" *ngIf='!dataSource?.data?.length'>
        <div class="container">
          <p class="lead">No Records Found.</p>
        </div>
      </div>
      <div class="faq-page-table-container">
        <table mat-table [dataSource]="dataSource" matSort class="faq-page-table" multiTemplateDataRows>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="element-detail">
                <div class="bg-light w-100 d-flex update-container">
                  <mat-progress-bar mode="indeterminate" class='progress-bar' *ngIf="loading"></mat-progress-bar>
                  <div class="col-lg-12 my-2">
                    <p class='lead answer-text' [innerHtml]="element.answer">
                    </p>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>





          <!-- Faq Date Column -->
          <ng-container matColumnDef="question">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="faq-table-header"> Question </th>
            <td mat-cell *matCellDef="let element;">
              <h2 class="question-text font-weight-bold">
                {{element.question }}
              </h2>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row class='element-row' *matRowDef="let row; columns: displayedColumns;"
            [class.expanded-row]="'true'">
          </tr>

          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10,20,30,40,50,60,70,80,90,100]" [length]="totalFaqs" [pageSize]="10"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>
