:host {
  height: 100vh;
  width: 100vw;

  .container,
  .row {
    height: 100%;
    width: 100%;
  }
}

.side-bar {
  position: fixed;
  width: 25%;
  height: 100%;
  background: #fafafa;
}

.content {
  margin-left: 30%;
}

.faq-table-header {
  display: none;
}

.logo-wrapper {
  overflow: hidden;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.question-text {
  padding: 0 0.7em;
  margin: 0;
  margin-top: 12px;
  color: #F4511F
}

.mat-list-base .mat-list-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.answer-text {
  line-height: 30px;
  font-size: 1.2em;
}

.faq-page-banner {
  h1 {
    font-size: 1.5em;
  }
}

.faq-page-table-container {
  // height: calc(100vh - 72px);
  // overflow: auto;
}

.header {
  display: flex;
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;

  h1 {
    margin: 0;
    margin-right: auto;
  }

  button {
    margin: 0 5px;
  }
}

.faq-page-table {
  width: 100%;
}


tr.detail-row {
  height: 0;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  padding: 10px 0;
}


.element-row td {
  border-bottom-width: 0;
}
