.innerBg {
  height: 92px;
  width: 92px;
  background: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: 0 10px;

  i {
    font-size: 60px;
    color: #333;
  }
}

.link {
  color: #2196F3;
  margin: 0 5px;
  font-weight: normal;
}

.right {
  float: right;
}

.profile-details {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }

  .cover-page {
    height: 140px;
    background: #f6f6f7;
    overflow: hidden;

    img {
      width: 100%;
    }

    .edit-cover-btn {
      position: absolute;
      right: 30px;
      top: 75px;
      width: 30px;
      height: 30px;
      background-color: #ddd;
      text-align: center;
      border-radius: 50%;
      padding-top: 5px;
      overflow: hidden;
      font-size: 16px;

      .edit-cover-image {
        position: relative;
        top: -20px;
        left: -100px;
        opacity: 0;
        cursor: pointer;
      }
    }
  }

  .profile-image {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    .addIconOuterBg {
      background: #344955;
      border: 1px solid #344955;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: relative;

      .edit-btn {
        position: absolute;
        bottom: 7px;
        right: 16px;
        color: #f44336;
        font-size: 25px;
        cursor: pointer;
        width: 27px;

        .preview-image-input {
          width: 26px;
          height: 24px;
          position: absolute;
          left: 0;
          opacity: 0;
        }
      }

      .previewed-image {
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 50%;
      }
    }

    .addIconOuterBg:hover .action {
      bottom: 5px;
      z-index: 9;
      text-align: center;
      color: #fff;
    }
  }

  mat-card-content {
    p {
      display: flex;
      align-items: center;
      padding: 15px;

      label {
        margin: 0
      }
    }
  }

  @media only screen and (max-width: 1200px) {}

  .section {
    padding: 20px;
    background-color: #fff;

    .profile-section {
      position: relative;
      top: -50px;
    }

    .card {
      border-radius: 0;
    }

    p {
      padding: 10px;
      background-color: rgb(23 34 45 / 4%);

      .label {
        min-width: 130px;
        width: 20%;
        color: #344955;
        opacity: 0.9;
        font-weight: 500;
        display: inline-block;
      }

      .value {
        width: 70%;
        display: inline-block;
      }

      .secondary-value {
        width: 70%;
        display: inline-block;
        font-size: 12px;
        font-style: italic;
        margin-left: 10px;
        cursor: pointer;
      }

      .status {
        color: green;
        font-weight: bold;
      }

      .status {
        color: red;
        font-weight: bold;
      }

    }
  }
}
