<div class='profile-details'>
  <div class='cover-page'>
    <img [src]="coverImageUrl" alt="">

    <div class="edit-cover-btn">
      <i class="fa fa-camera"></i>
      <input id='coverImageRef' type="file" name="coverImage" class="edit-cover-image"
        accept=".jpeg,.png,.PNG,.JPEG,.jpg,.JPG" (change)="onCoverImageChange($event)">
    </div>
  </div>

  <div class='section'>
    <div class="row profile-section">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <mat-card class="card">
          <mat-card-content>
            <div class='profile-image'>
              <div class="addIconOuterBg">
                <a class="edit-btn fa fa-camera">
                  <input id='profileImageRef' type="file" name="profileImage" class="preview-image-input"
                    accept=".jpeg,.png,.PNG,.JPEG,.jpg,.JPG" #avatar (change)="onProfileImageChange($event)">
                </a>
                <img [src]="profileImageUrl" (click)='avatar.click()' class="previewed-image" width="400" height="400"
                  alt="">
              </div>
            </div>

            <p>{{profile?.name}}</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-9">
        <mat-card class="card">
          <mat-card-content>
            <p>
              <label class='label'>Name : </label>
              <span class='value'>{{profile?.name}}</span>
            </p>

            <p>
              <label class='label'>Email : </label>
              <span class='value'>{{profile?.email}}
                <span class='secondary-value' (click)="changePassword()">Change password</span>
              </span>
            </p>

            <p>
              <label class='label'>Secondary Email : </label>
              <span class='value'>{{profile?.email}}</span>
            </p>

            <p>
              <label class='label'>Mobile No. : </label>
              <span class='value'>{{profile?.contact || 'Add contact number'}}</span>
            </p>

            <p>
              <label class='label'>Plan Type : </label>
              <span class='value'>{{profile?.subscription?.planType}}
                <button type="button" class='mr-3 upgrade-btn mx-3' mat-flat-button color="primary"
                  routerLink='/subscription' *ngIf="profile?.subscription?.planType == 'Basic'">Upgrade Plan</button>
              </span>
            </p>

            <p *ngIf='profile?.subscription?.tenureType'>
              <label class='label'>Subscription Type : </label>
              <span class='value'>{{profile?.subscription?.tenureType}}</span>
            </p>

            <p *ngIf='profile?.subscription?.state'>
              <label class='label'>Status : </label>
              <span class='value status'
                [class.cancel]="profile?.subscription?.state == 'Cancelled'">{{profile?.subscription?.state}}</span>
            </p>

            <p *ngIf='profile?.subscription?.startDate'>
              <label class='label'>Start Date : </label>
              <span class='value'>{{profile?.subscription?.startDate | date:'mediumDate'}}
              </span>
            </p>

            <p *ngIf='profile?.subscription?.state == "Cancelled"'>
              <label class='label'>End Date : </label>
              <span class='value'>{{profile?.subscription?.nextBillingDate | date:'mediumDate'}}
                <button type="button" class='mr-3 upgrade-btn mx-3' [disabled]="isSubscriptionValidToday"
                  mat-flat-button color="primary"
                  (click)="reactivateSubscription(profile?.subscription?.subscriptionId)">Reactivate
                  Subscripton</button>
              </span>
            </p>

            <p *ngIf='profile?.subscription?.nextBillingDate && profile?.subscription?.state == "Active"'>
              <label class='label'>Next Billing Date : </label>
              <span class='value'>{{profile?.subscription?.nextBillingDate | date:'mediumDate'}}
                <button type="button" class='mr-3 upgrade-btn mx-3' mat-flat-button color="primary"
                  (click)="cancelSubscription(profile?.subscription?.subscriptionId)"
                  *ngIf="profile?.subscription?.state == 'Active'">Cancel
                  Subscripton</button>
              </span>
            </p>

          </mat-card-content>

          <mat-card-actions class='actions'>
            <button mat-flat-button (click)='edit()' color="accent">Edit</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>




  </div>
</div>