<div class='faq-details'>
  <div class='header'>
    <h1>
      Frequently Asked Questions
    </h1>
    <button type="button" mat-flat-button color="primary" (click)='addFaq()'>Add FAQ</button>
  </div>

  <div class="jumbotron jumbotron-fluid" *ngIf='!dataSource?.data?.length'>
    <div class="container">
      <p class="lead">No Records Found.</p>
    </div>
  </div>
  <div class="faq-table-container">
    <table mat-table [dataSource]="dataSource" matSort class="faq-table" multiTemplateDataRows>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="'expanded'">
            <div class="bg-light w-100 d-flex update-container">
              <mat-progress-bar mode="indeterminate" class='progress-bar' *ngIf="loading"></mat-progress-bar>
              <div class="col-lg-12 my-2">
                <p class='lead answer-text' [innerHtml]="element.answer">
                </p>
                <button type="submit" mat-flat-button color="primary" (click)="editFaq(element)"
                  [disabled]='loading'>Edit</button>
              </div>
            </div>
          </div>
        </td>
      </ng-container>





      <!-- Faq Date Column -->
      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
        <td mat-cell *matCellDef="let element;">
          <h2 class="question-text font-weight-bold">
            {{element.question }}
          </h2>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row class='element-row' *matRowDef="let row; columns: displayedColumns;" [class.expanded-row]="'true'">
      </tr>

      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10,20,30,40,50,60,70,80,90,100]" [length]="totalFaqs" [pageSize]="10"
    showFirstLastButtons>
  </mat-paginator>

</div>
