<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'solid' : hasSolidBackground }">
  <div class="container">
    <div class='row w-100'>
      <a href="#home" class="navbar-brand">
        <img src='assets/logo/kodolive-logo.png' height="60" width="60" alt='' />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngFor='let nav of navs; let first = first;'>
            <a href="" class="nav-link" [ngClass]="{'active': first}">{{nav}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- End Navigation -->
