/*============= NAVIGATION =============*/
.navbar-brand img {
  height: 2rem;
}

.navbar {
  padding: .7rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
  font-size: .9rem;
  background-color: transparent;
  transition: box-shadow 1s ease;
}

.navbar-nav li {
  padding-right: .8rem;
}

.navbar-nav .nav-link {
  color: #333;
  padding-top: .8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #ef3712;
}

.custom-toggler-icon {
  color: white;
  font-size: 1.6rem;
}

.navbar.solid,
.navbar.solid-toggle {
  background-color: #fff;
  transition: box-shadow 1s ease, background-color 1s ease;
  box-shadow: 0px 12px 34px rgba(0, 0, 0, 0.5);
}

/*-- Remove Button Outline --*/
button:focus,
a:focus,
a.btn:focus {
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
  transition: all .6s ease;
}

video {
  height: 65px;
  width: 250px;
}
