<mat-grid-list cols="2" rowHeight="65px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <video routerLink='/' class='logo' width="250" height="100" autoplay="autoplay" muted="muted" id="logo_nav"
      (click)="scrollTo('home')">
      <source src="assets/logo/kodu.mp4" type="video/mp4">
    </video>
  </mat-grid-tile>

  <ng-container *ngIf='!(isHandset$ | async)'>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button class='kodu-nav' (click)="scrollTo(nav.link)" [routerLink]="['/']" [fragment]="nav.link"
        [ngClass]="{'active': currentSection === nav.link}" mat-button *ngFor="let nav of navs">
        {{ nav.title }}</button>
    </mat-grid-tile>

  </ng-container>

  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf='(isHandset$ | async)'>
    <div class="menu-trigger-wrapper">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
