<div class='container-fluid'>
  <div class="logo-wrapper" routerLink="/">
    <video class='logo-video' width="250" height="100" autoplay="autoplay" muted="muted" id="logo_home">
      <source src="assets/logo/kodu_white.mp4" type="video/mp4">
    </video>
    <!-- <img src="assets/logo/logo-orange.jpeg" alt='' width="250" height="100" /> -->
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12 bg-white">
      <div class="jumbotron jumbotron-fluid h-100 bg-white">
        <div class="container-fluid main">
          <div class="d-flex align-items-center">
            <h1 class='banner-heading'>KoduLive Meet</h1>
          </div>
          <p class="lead tag-line">Let’s make Life Better Together!.</p>
          <img class="img-responsive banner-img my-2" src='assets/images/location.svg' />
        </div>

        <div class="location-card-container container-fluid">
          <mat-card class="location-card" *ngFor='let location of locations'>
            <mat-card-header>
              <mat-card-title>{{location.title}}</mat-card-title>
              <mat-card-subtitle>{{location.subTitle}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="map-container">
              <agm-map style="height:350px;width:350px" [latitude]="location.latitude" [longitude]="location.longitude"
                (mapClick)="locationChange($event, location)">
                <agm-marker [latitude]="location.latitude" [longitude]="location.longitude"
                  [label]="location.labelOptions">
                </agm-marker>
              </agm-map>

            </mat-card-content>
            <mat-card-actions>
              <p class="p-2 font-bold">
                {{location.address}}
              </p>
            </mat-card-actions>
          </mat-card>
        </div>


      </div>
    </div>
  </div>
  <div class="row">
    <kodu-footer></kodu-footer>
  </div>

</div>
