:host {
  width: 100%;
  height: 100%;

}

.container-fluid .main {
  display: flex;
  flex-direction: column;
}

.location-card-container {
  display: flex;
  flex-wrap: wrap;
  background: #fafafa;
}

.location-card {
  width: 380px;
  margin: 12px;
}

.logo-wrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  left: -2em;
  overflow: hidden;

  .logo-video {
    z-index: 10;
    transform: scale(1.5);
  }
}

.logo-wrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  left: -2em;
  overflow: hidden;

  .logo-video {
    z-index: 10;
    transform: scale(1.5);
  }
}

.support {
  max-width: 200px;
}

.banner-heading {
  font-size: 3em;
  z-index: 11;
  margin-top: 32px;
}

.tag-line {
  font-size: 2em;
  line-height: 1.5em;
}

.banner {
  line-height: 1.6em;
  color: white;
  background: var(--primary-color);
}

.banner-img {
  height: 65vh;
  background: var(--yellow);
  padding: 22px;
  width: 100%;
}
