/*============= FEATURES SECTION =============*/
:host {
  width: 100%;
}


.feature-even {
  border-radius: 30% 26% 40% 20%/70% 50% 30% 25%;
  background: var(--primary-darker-color);
  color: #fff;
  animation: morph 20s ease-in-out infinite;
  transition: all 5s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.feature-odd {
  border-radius: 30% 26% 40% 20%/70% 50% 30% 25%;
  background: var(--warning);
  color: #333;
  animation: morph 20s ease-in-out infinite;
  transition: all 5s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.bottom-banner {
  background: #f4511e;
  color: white;
}

.btn-sm {
  border-width: medium;
  border-radius: 0;
  padding: .5rem 1.1rem;
  text-transform: uppercase;
  font-size: .9rem;
  margin: 1rem;
}

.feature span {
  color: #333;
  margin-bottom: .6rem;
}

.feature h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-bottom: .4rem;
}



/*===== FIXED BACKGROUND IMG DARK =====*/

/*--- iOS Fixed Background Image --*/
.fixed {
  position: relative;
  width: 100%;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -9999;
}

.fixed-dark {
  // background-image: url('../../../../assets/images/freature-bg.jpg');
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1;
  top: 0;
  left: 0;
  display: table;
}

.dark {
  background-color: rgba(0, 0, 0, .7);
  padding: 7rem 0;
  z-index: 1000;
}

p.lead {
  line-height: 1.5em;
}
