<div class="jumbotron m-0 bg-white">

  <div class="col-12 os-animation" data-animation="animate__animated animate__fadeInUp">
    <h3 class="heading">Features</h3>
    <div class="heading-underline"></div>
  </div>

  <div class="container">
    <div class="row text-center px-lg-4 px-xl-5">

      <div class="col-sm-6 col-md-4 os-animation" data-animation="animate__animated animate__fadeInLeft">
        <div class="jumbotron px-2 feature-even">
          <mat-icon>{{'graphic_eq'}}</mat-icon>
          <h2>Live Recording</h2>
          <p class="lead">Real time high quality call / meeting recording.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 os-animation" data-animation="animate__animated animate__fadeInUp">
        <div class="jumbotron px-2 feature-odd">
          <mat-icon>{{'video_library'}}</mat-icon>
          <h2>Live integration</h2>
          <p class="lead">Seamless initegration with facebook / youtube.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 os-animation" data-animation="animate__animated animate__fadeInRight">
        <div class="jumbotron px-2 feature-even">
          <mat-icon>{{'memory'}}</mat-icon>
          <h2>Cloud Based Server</h2>
          <p class="lead">On demand Independent server for customer.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 os-animation" data-animation="animate__animated animate__fadeInRight">
        <div class="jumbotron px-2 feature-odd">
          <mat-icon>{{'phone'}}</mat-icon>
          <h2>Meetings & Calls</h2>
          <p class="lead">Online meetings, training & technical support</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 os-animation" data-animation="animate__animated animate__fadeInRight">
        <div class="jumbotron px-2 feature-even">
          <mat-icon>{{'videocam'}}</mat-icon>
          <h2>Video Webinar</h2>
          <p class="lead">Marketing events , townhall meetings</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 os-animation" data-animation="animate__animated animate__fadeInRight">
        <div class="jumbotron px-2 feature-odd">
          <mat-icon>{{'videocam'}}</mat-icon>
          <h2>Conference Rooms</h2>
          <p class="lead">Collaboration enaabled conference rooms</p>
        </div>
      </div>

    </div>
  </div>

</div>
