.user-container {
  height: 100%;
  background-color: #f8f7ff;

  .side-nav-container {
    overflow-y: hidden;
  }

  .sidenav {
    min-width: 18em;
    max-width: 250px;
    overflow-x: hidden;
    border: 0;
    color: #fff;
    overflow: hidden;
    background-image: linear-gradient(45deg, #0a151f, #232e3a) !important;

    .mat-subheader {
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      height: 50px;

      img {
        border-radius: 50%;
      }

      .user-name-style {
        margin: 0 5px;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .side-mat-footer {
      position: absolute;
      bottom: 0;
      overflow: hidden;
      background: rgb(18 25 33);

      .orange-text {
        color: #ea6608;
      }
    }

    .mat-list-base .mat-list-item {
      color: #fafafa
    }

    .active {
      background: #232f34e3;
      color: #fff !important;
      box-shadow: inset 5px 0px 0px 0px #F44336;
    }
  }

  .user-content-section {
    padding-top: 50px;
    display: block;
    height: 100%;
  }

  .main-header {
    background: rgb(32 43 55);
    height: 50px;
    color: #fff;
    z-index: 9999;
    position: fixed;
    width: calc(100% - 284px);

    display: flex;
    align-items: center;

    h1 {
      width: 200px;
      margin: 0px;
      padding: 10px;
      display: inline-block;
      color: #fff;

    }

    .upgrade-btn {
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .widthManage {
    .sidenav {
      width: 63px !important;
      min-width: 63px !important;
    }

    .main-header {
      width: calc(100% - 63px) !important;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .widthManage {
    .sidenav {
      width: 200px;
      min-width: 200px;
    }

    .main-header {
      width: calc(100% - 200px);
    }
  }
}
