<mat-sidenav-container class='flude-container user-container widthManage'>
  <mat-sidenav class='sidenav' #sidenav mode="side" opened [fixedInViewport]="false" [fixedTopGap]="0"
    [fixedBottomGap]="0">
    <mat-nav-list>
      <div mat-subheader matTooltip="{{profile?.name}}" [matTooltipPosition]="'right'">
        <img [src]="profileImageUrl" width="35" class="previewed-image" alt="">
        <span class="user-name-style">{{profile?.name}}</span>
      </div>

      <mat-list-item *ngFor="let menu of menus" [routerLink]='menu.route' routerLinkActive="active"
        queryParamsHandling="merge">
        <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
        <div mat-line>{{menu.name}}</div>
        <!-- <div mat-line>{{menu.description}}</div> -->
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item class="side-mat-footer" (click)='logout()'>
        <mat-icon mat-list-icon class='orange-text'>power_settings_new</mat-icon>
        <div mat-line>Logout</div>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class='side-nav-container'>
    <div class="col-lg-12 main-header">
      <h1 routerLink='/'>
        Kodu Live
      </h1>
    </div>

    <div class="user-content-section">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
