  <mat-progress-bar mode="indeterminate" class='progress-bar' *ngIf="loading"></mat-progress-bar>
  <h1>
    Join Meeting
  </h1>
  <mat-icon class='close' (click)='onCancel()'>{{ "cancel" }}</mat-icon>
  <form class="join-meet-form" [formGroup]="joinMeetForm" (ngSubmit)="onSubmit()">
    <div class="col-lg form-group">
      <mat-form-field class='col-lg' appearance="standard" hintLabel="Enter the meeting code provided by the organizer">
        <mat-label>Meeting Code</mat-label>
        <input type="text" formControlName="meetingCode" matInput />
        <button type="button" mat-icon-button matSuffix>
          <mat-icon (click)='reset()'>{{ "close" }}</mat-icon>
        </button>
        <mat-hint align="end"></mat-hint>

        <mat-error *ngIf="controls.meetingCode.hasError('required')">
          Meeting Code <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg form-group">
      <div class='action-container'>
        <button type="reset" mat-flat-button color="accent" (click)="onCancel()">Cancel</button>
        <button type="submit" mat-flat-button color="primary">Join</button>
      </div>
    </div>

  </form>
