<mat-card class="payment-confirm-card">
  <mat-card-header>
    <mat-card-title>Select Tenure</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="plan-frequency">
      <div class="frequency-card" [class.t-active]="'P-34G4623820933740EL5UWRCY' === planId"
        (click)="changeTenure('P-34G4623820933740EL5UWRCY', 'Monthly')"> <span>Monthly</span>
        <span>7.97 USD billed Monthly</span> </div>
      <div class="frequency-card" [class.t-active]="'P-0EC29197TB739541EL5UWR4A' === planId"
        (click)="changeTenure('P-0EC29197TB739541EL5UWR4A', 'Annually')"> <span>Annually</span>
        <span>90 USD billed Annually</span> </div>
    </div>
    <div class="payment-confirm">Proceed to payment</div>
    <div #paypal></div>
    <button type="button" mat-flat-button color="accent" routerLink="/">Cancel</button>
  </mat-card-content>
</mat-card>
