:host {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.plan-frequency {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0 !important;
}

.frequency-card {
    height: 120px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    flex-grow: 1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    span {
        display: inline-block;
    }
    span:nth-child(1) {
        font-weight: 500;
    }
}

.payment-confirm {
    margin: 20px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
}

.payment-confirm-card {
    width: 550px;
}

.t-active {
    border: 2px solid #ffc439;
}