  <mat-progress-bar mode="indeterminate" class='progress-bar' *ngIf="loading"></mat-progress-bar>

  <div class="dialog-header">
    <h2>Profile Update</h2>

    <mat-icon class='close' (click)='onCancel()'>{{ "cancel" }}</mat-icon>
  </div>

  <form class="personal-info-form" [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">
    <div class="col-lg form-group">
      <mat-form-field appearance="standard" hintLabel="Max 30 characters">
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput maxlength="30" />
        <button type="button" mat-icon-button matSuffix>
          <mat-icon>{{ "person" }}</mat-icon>
        </button>
        <mat-hint align="end">{{controls?.name?.value?.length}} / 30</mat-hint>

        <mat-error *ngIf="controls.name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg form-group">
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput readonly />
        <button type="button" mat-icon-button matSuffix>
          <mat-icon>{{ "mail" }}</mat-icon>
        </button>
        <mat-hint align="start">Primary email can't be changed</mat-hint>
      </mat-form-field>
    </div>

    <div class="col-lg form-group">
      <mat-form-field appearance="standard">
        <mat-label>Contact</mat-label>
        <input type="text" formControlName="contact" matInput />
        <button type="button" mat-icon-button matSuffix>
          <mat-icon>{{ "phone" }}</mat-icon>
        </button>
        <mat-error *ngIf="controls.contact.hasError('required')">
          Contact Number is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="controls.contact.hasError('pattern')">
          Contact Number is <strong>invalid</strong>
        </mat-error>
        <mat-error *ngIf="controls.contact.hasError('minlength')">
          Minimum <strong> 10 digit required</strong>
        </mat-error>
        <mat-error *ngIf="controls.contact.hasError('maxlength')">
          Maximum <strong> 12 digits allowed</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg form-group">
      <div class='action-container'>
        <button type="reset" mat-flat-button color="accent" (click)="onCancel()">Cancel</button>
        <button type="submit" mat-flat-button color="primary">Save</button>
      </div>
    </div>
  </form>
