<div class="container-fluid">
    <mat-progress-bar mode="indeterminate" class='progress-bar' *ngIf='loading'>
    </mat-progress-bar>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="jumbotron jumbotron-fluid bg-white">
                <h1>Forgot Password? No worries! </h1>
                <p>Confirm Email here. New password will be sent to the registered .</p>
                <img class="img-responsive reset-img" src='assets/images/forgot_password.svg' />
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <form class="reset-form d-flex flex-column " [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <h1 class="auth-title text-center">
                    <img class="img-responsive user-img" src='assets/images/user.svg' height="60" width="60" />
                </h1>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" formControlName="email" matInput />
                    <mat-error *ngIf="email.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="email.hasError('pattern')">
                        Please enter <strong>valid email.</strong>
                    </mat-error>
                    <button type="button" mat-icon-button matSuffix>
                        <mat-icon>{{ "mail" }}</mat-icon>
                    </button>
                </mat-form-field>
                <button type="submit" class="my-3" mat-flat-button color="primary"
                    [disabled]="email.hasError('required') || email.hasError('pattern') || loading">
                    Confirm Email & Reset
                </button>
                <div class="footer">
                    <span><a href="#" class="auth_link" routerLink="/auth/signup">Sign Up</a></span>
                    <span><a href="#" class="auth_link right" routerLink="/auth/signin">Registered User? Sign
                            In</a></span>
                </div>
            </form>
        </div>
    </div>
</div>