.reset-img {
    height: 65vh;
    width: 100%;
    border-radius: 60% 26% 40% 20% / 70% 50% 30% 25%;
    background: var(--yellow);
  }
  
  .reset-form {
    max-width: 25em;
    color: #000;
    justify-content: center;
    height: 100%;
    margin: auto;
  
    .auth-title {
      color: #f4511e;
      font-weight: 500;
    }
  
    .auth_link {
      text-decoration: none;
      color: #2d3d43;
      font-weight: 500;
      font-size: 11px;
      text-transform: uppercase;
    }
  
    .right {
      float: right;
    }
  
    mat-form-field,
    button {
      width: 100%;
      border-radius: 0;
    }

}
