  <mat-progress-bar mode="indeterminate" class='progress-bar' *ngIf="loading"></mat-progress-bar>
  <h1>
    Copy Meeting Invitation
  </h1>
  <mat-icon class='close' (click)='onCancel()'>{{ "cancel" }}</mat-icon>
  <form class="join-meet-form" [formGroup]="copyInvitationForm" (ngSubmit)="onSubmit(textarea)">
    <div class="col-lg form-group">
      <mat-form-field class='col-lg' appearance="fill" hintLabel="Edit or copy meeting invitation">
        <mat-label>Meeting Invitation</mat-label>
        <textarea #textarea matInput formControlName="meetingInvitation" placeholder="Add message here"
          rows='15'></textarea>
        <button type="button" mat-icon-button matSuffix>
          <mat-icon (click)='reset()'>{{ "close" }}</mat-icon>
        </button>
        <mat-hint align="end"></mat-hint>

        <mat-error *ngIf="controls.meetingInvitation.hasError('required')">
          Meeting Invitation message <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg form-group">
      <div class='action-container'>
        <button type="reset" mat-flat-button color="accent" (click)="onCancel()">Cancel</button>
        <button type="submit" mat-flat-button color="primary">Copy</button>
        <img class="link" src="assets/images/outlook.png" alt='' width="35" height="30" (click)="openOutlook()" />
        <img class="link" src="assets/images/gmail.png" alt='' width="35" height="30" (click)="openGmail()" />
      </div>
    </div>

  </form>
