<div class="container">
  <mat-grid-list cols="12" rowHeight="65px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" [routerLink]="['/']" fragment="home">
      <video class='logo' width="250" height="100" autoplay="autoplay" muted="muted" id="logo_home">
        <source src="assets/logo/kodu_white.mp4" type="video/mp4">
      </video>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="row my-5">
    <h1 class='heading'>About Us</h1>
    <p class='lead'>
      Ekodus is America's one of the fastest growing software services provider and consulting firm, with core strength
      in Agile development and transformation at scale.
    </p>
    <p class="lead">
      Today, Ekodus has hundreds of developers supporting Fortune 500 and high growth mid-market enterprises across
      India and the United States of America. With three delivery centers in the US and India, Ekodus architects and
      build solutions that combine Agile expertise to help their clients be more responsive to their market.
    </p>
    <p class="lead">
      With services satisfying every major Digital need of business organization all over, Ekodus Technologies bridges
      expectations with reality.
    </p>
    <p class="lead">
      This work ethic helped the firm achieve a Global presence by serving Corporate giants any Financial, Healthcare,
      Insurance, Retail and Manufacturing along its way. The able hands of IT advisors bagging over 15 years overlook
      the firm’s services, ensuring you get the best of services in the market.
    </p>
    <p class="lead">
      For your next Digital Venture, Let's Connect!
    </p>
  </div>
</div>
