<mat-grid-list cols="2" rowHeight="65px">
  <mat-grid-tile [colspan]="1" [rowspan]="1" [routerLink]="['/']" fragment="home">
    <video class='logo' width="250" height="100" autoplay="autoplay" muted="muted" id="logo_home">
      <source src="assets/logo/kodu_white.mp4" type="video/mp4">
    </video>
  </mat-grid-tile>

  <ng-container *ngIf='!(isHandset$ | async)'>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button class='kodu-nav' [ngClass]="{'active': first}" mat-button [routerLink]="['/']"
        *ngFor="let nav of navs; let first=first" [fragment]="nav.link">
        {{ nav.title }}</button>
    </mat-grid-tile>

  </ng-container>

  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf='(isHandset$ | async)'>
    <div class="menu-trigger-wrapper">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
  <button mat-button *ngFor="let nav of navs; let first=first" [routerLink]="['/']" [ngClass]="{'active': first}"
    [fragment]="nav.link">
    {{ nav.link }}</button>
</mat-menu>
