:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  background: #ffffff;
}

button:focus {
  outline: none;
}

.kodu-nav {
  padding: 1em;
  font-size: 1.2em;
  border-radius: 0px;
}

.kodu-nav.active,
.kodu-nav:focus {
  box-shadow: inset 0px -5px 0px 0px #f4511e;
}

.header-nav {
  padding: 0 10px;
  background-color: #232f34;
  width: 100%;
  box-sizing: border-box;

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }
}



.logo {
  margin: 0 auto 0 -3.5em;
  cursor: pointer;
  outline: none;
}



.menu-trigger-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1em;

  button {
    height: 100%;
  }
}
