  <mat-progress-bar mode="indeterminate" class='progress-bar' *ngIf="loading"></mat-progress-bar>
  <h1>
    FAQ
  </h1>
  <mat-icon class='close' (click)='onCancel()'>{{ "cancel" }}</mat-icon>
  <form class="faq-form" [formGroup]="faqForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field class='w-100' appearance="outline" hintLabel="Enter the question">
          <mat-label>Question</mat-label>
          <input type="text" formControlName="question" matInput />
          <button type="button" mat-icon-button matSuffix>
            <mat-icon>{{ "contact_support" }}</mat-icon>
          </button>
          <mat-hint align="end"></mat-hint>

          <mat-error *ngIf="controls.question.hasError('required')">
            Question description <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class='w-100'>
          <mat-label>Answer</mat-label>
          <textarea matInput formControlName="answer" rows='10'></textarea>
          <button type="button" mat-icon-button matSuffix>
            <mat-icon>{{ "question_answer" }}</mat-icon>
          </button>
          <mat-error *ngIf="controls.answer.hasError('required')">
            Message is <strong>required</strong>
          </mat-error>
          <mat-hint align="end">Type answer here.</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-lg-12">
        <div class='action-container'>
          <button type="reset" mat-flat-button color="accent" (click)="onCancel()">Cancel</button>
          <button type="button" (click)="onSubmit()" mat-flat-button color="primary" [disabled]='loading'>Done</button>
        </div>
      </div>
    </div>
  </form>
