<div class="container-fluid">
  <mat-progress-bar mode="indeterminate" class='progress-bar' *ngIf='loading$ | async'>
  </mat-progress-bar>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="jumbotron jumbotron-fluid bg-white">
        <h1>Register with us, it's free </h1>
        <p>Stay Connected.</p>
        <img class="img-responsive sign-up-img" src='assets/images/signup.svg' />
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <form class="sign-up-form d-flex flex-column " [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <h1 class="auth-title text-center">
          <img class="img-responsive user-img" src='assets/images/user.svg' height="60" width="60" />
        </h1>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput />
          <mat-error *ngIf="controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="controls.email.hasError('pattern')">
            Please enter <strong>valid email.</strong>
          </mat-error>
          <button type="button" mat-icon-button matSuffix>
            <mat-icon>{{ "mail" }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
          <mat-error *ngIf="controls.password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" />
          <mat-error *ngIf="controls.confirmPassword.hasError('required')">
            Confirm Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="controls.confirmPassword.hasError('confirmPasswordValidator')">
            Passsword and Confirm Password<strong> didn't match. </strong>
          </mat-error>
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
          </button>
        </mat-form-field>
        <button type="submit" class="signUp-button my-3" mat-flat-button color="primary" [disabled]="loading$ | async">
          Sign Up
        </button>
        <div class="footer">
          <span><a href="#" class="auth_link">Forgot Password?</a></span>
          <span><a href="#" class="auth_link right" routerLink="/auth/signin">Registered User? Sign In</a></span>
        </div>
        <div class="social">
          <ul>
            <li>
              <i (click)="signInWithGoogle()" class="fa fa-google-plus-square google"></i>
            </li>
            <li>
              <i (click)="signInWithFacebook()" class="fa fa-facebook-square facebook"></i>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
