.landing-header {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-wrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  left: -2em;
  overflow: hidden;

  .logo-video {
    z-index: 10;
    transform: scale(1.5);
  }
}

.support {
  max-width: 200px;
}

.banner-heading {
  font-size: 3em;
  z-index: 11;
  margin-top: 32px;
}

.tag-line {
  font-size: 2em;
  line-height: 1.5em;
}

.banner {
  line-height: 1.6em;
  color: white;
  border-radius: 4% 26% 40% 20%/70% 50% 30% 25%;
  background: var(--primary-color);
}

.banner-img {
  height: 65vh;
  width: 80%;
  border-radius: 30% 26% 40% 20%/70% 50% 30% 25%;
  background: var(--yellow);
}
