<div class='container-fluid'>
  <div class="logo-wrapper">
    <video class='logo-video' width="250" height="100" autoplay="autoplay" muted="muted" id="logo_home">
      <source src="assets/logo/kodu_white.mp4" type="video/mp4">
    </video>
    <!-- <img src="assets/logo/logo-orange.jpeg" alt='' width="250" height="100" /> -->
  </div>

  <div id="parentDiv" koduScrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" #wrapper
    class="wrapper" [ngClass]="{'compact': isCompactLayout}">
    <div id='home' class="row">
      <div class="col-lg-6 col-sm-12 bg-white">
        <div class="jumbotron jumbotron-fluid h-100 bg-white">
          <div class="container ">
            <div class="d-flex align-items-center">
              <h1 class='banner-heading'>KoduLive Meet</h1>
            </div>
            <p class="lead tag-line">Let’s make Life Better Together!.</p>
            <p class="lead banner my-5 jumbotron">Kõdu is a village in Käru Parish, Rapla County in western-central
              Estonia. In
              Estonian
              language Kodu means Home. Home is where our families and loved ones are. Home is where we rush after the
              days work. We identified, loved and accepted Kodu as our way of life</p>
            <p>
              <button type="button" class='mr-3' *ngIf="!(loggedIn$ | async)" mat-flat-button color="primary"
                routerLink='/auth/signup/'>Join Now ,
                It's
                Free</button>
              <button type="button" mat-flat-button color="accent" routerLink="/office-contact">Contact Us</button>
            </p>


          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 bg-white">
        <div class="row d-flex w-100 flex-column align-items-end">
          <div class="d-flex">
            <button type="button" class='mr-3' *ngIf="!(loggedIn$ | async)" mat-flat-button color="primary"
              routerLink='/auth/signin/'>Sign
              in</button>
            <button type="button" class='mr-3' *ngIf="loggedIn$ | async" mat-flat-button color="primary"
              routerLink='/user/profile/'>Go
              to Dashboard</button>
            <button type="button" class='support' mat-flat-button color="accent" [routerLink]="['/kodu-help']"> Help
              Center</button>
          </div>
          <img class="img-responsive banner-img my-2" src='assets/images/meet.svg' />
        </div>
      </div>
    </div>
    <div class="row landing-header">
      <kodu-landing-header [currentSection]='currentSection'></kodu-landing-header>
    </div>
    <div id="features" class="row">
      <kodu-features></kodu-features>
    </div>
    <div id="pricing" class="row">
      <kodu-pricing></kodu-pricing>
    </div>
    <div id="contact" class="row">
      <kodu-contact></kodu-contact>
    </div>
    <div id="footer" class="row">
      <kodu-footer></kodu-footer>
    </div>
  </div>


</div>
